<div style="display: flex; justify-content: center; margin-top: 30px;">
    <form class="example-form">

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Apellidos</mat-label>
                        <input matInput>
                    </mat-form-field></td>
            </tr>
        </table>

        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Dirección</mat-label>
                <textarea matInput placeholder="Ej. Calle Aran 1"></textarea>
            </mat-form-field>
        </p>

        <mat-form-field class="example-full-width">
            <mat-label>Teléfono</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Dni</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button>Enviar</button>
    </form>
</div>